<footer class="footer">
  <div class="container text-center">
    <a class="cc btn btn-link" href="https://twitter.com/urpgb"><i class="fab fa-twitter fa-2x"></i></a>
    <a class="cc btn btn-link" href="https://github.com/elyday"><i class="fab fa-github fa-2x"></i></a>
    <a class="cc btn btn-link" href="https://telegram.me/elyday"><i class="fab fa-telegram-plane fa-2x"></i></a>
    <a class="cc btn btn-link" href="https://lars.risse.me"><i class="fab fa-wordpress fa-2x"></i></a>
  </div>
  <div class="h4 title text-center">Lars "elyday"</div>
  <div class="text-center text-muted">
    <p>&copy; Lars "elyday". All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
    <p><a href="/imprint">Impressum</a> | <a href="/privacy">Datenschutzerklärung</a></p>
  </div>
</footer>
<script src="{{ "/assets/js/core/jquery.3.2.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/core/popper.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/core/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/now-ui-kit.js" | relative_url }}"></script>
<script src="{{ "/assets/js/aos.js" | relative_url }}"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
