<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hm, was gibt es alles über mich zu wissen?</p>
						<p>Ich bin ein politisch engagierter Web Entwickler mit derzeitiger Ausbildung in der Software Entwicklung mit Java.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">19</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Mail:</strong></div>
              <div class="col-sm-8"><a href="mailto:me@elyday.net">me@elyday.net</a></div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">LANGUAGE:</strong></div>
              <div class="col-sm-8">Deutsch, Englisch</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
